@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap");

body,
textarea,
select,
input,
button {
    font-family: sans-serif;
    font-size: 25px;
}

#playerInfo div[c] .emoji {
    font-family: "Noto Emoji", sans-serif;
}

.card {
    border: 4px solid black;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 5px;
    background: white;
    width: 100px;
    height: 150px;
    text-align: center;
    cursor: pointer;
}

.card div.suit {
    font-family: "Noto Emoji", sans-serif;
    font-size: 100px;
    filter: blur(3px);
    opacity: 0.75;
    margin-top: -20px;
    transform: rotate(15deg);
}
.card.joker div.suit {
    margin-left: -10px;
    margin-top: 0px;
    font-size: 80px;
    filter: blur(0.5px);
    transform: rotate(-3deg);
    opacity: 1;
}

.card div.value {
    font-weight: 800;
    font-size: 35px;
}
.card.joker div.value {
    margin-top: 6.8px;
    font-weight: 600;
    font-stretch: 20%;
    margin-left: -5px;
    letter-spacing: -2px;
}

#placedCards {
    padding: 30px;
}

#placedCards .card {
    transform: rotate(5deg);
    opacity: 0.6;
}
#placedCards .card:first-child {
    opacity: 1;
}
